 .login_box {
   
   
   position: relative;
   top: 30px;
   left: 50px;
   right: 50px;
    background-color: aquamarine;
    width: 900px;
    height: 600px;
 }

.account_type {
position: relative;
top: 30px;
left: 250px;


}


    